/* XL */
@media (max-width:1399px) {
    .container {
        max-width: 1140px;
    }
    .user-data{
    /* width */
  ::-webkit-scrollbar{
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  
    }
}

/* Lg */
@media (max-width:1199px) {
    .container {
        max-width: 960px;
    }
    .social-meassges{
        display: none;
    }
    .w-lg-2{
        width:50%;
    }
}

/* Md */
@media (max-width:991px) {
    .container {
        max-width: 720px;
    }
    .w-md-2{
        width: 50%;
    }
    .w-md-1{
        width: 100%;
    }
    /* .user-data{
        margin-right: 20px;
    } */
    nav ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.285);
        opacity: 0;
    }
    nav ul li a{
        padding: 10px 0;
    }
    .toggle a{
        display: flex;
    }
   
}

/* Sm */
@media (max-width:767px) {
    .container {
        max-width: 540px;
    }
    .w-sm-1{
        width: 100%;
    }

}

/* Xs */
@media (max-width:575px) {
    .container {
        max-width: 100%;
    }
    .w-xs-1{
        width: 100%;
    }
    header form{
        display: none;
    }
    .footer-content footer p span{
        width: 100%;
    } 
    .information{
        margin:10px 0 !important;
    }
}